#container{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    display: grid;
}

#container > div {
    border: 1px solid rgba(0, 0, 0, 0.262);
}

#container > div:hover{
    background-color: black;
    opacity: 0.4;
}